#chart_tree {
    width: 300px;
    height: 220px;
    background: #bbb;
    margin: 0px auto;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

text {
    pointer-events: none;
}

.grandparent text { /* header text */
    font-weight: bold;
    font-size: medium;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

rect {

}


rect.parent,
.grandparent rect {
    stroke-width: 2px;
     border-color: green !important;
}

.grandparent rect {
    fill: #fff;
}

.children rect.parent,
.grandparent rect {
    cursor: pointer;
}

rect.parent {
    pointer-events: all;
     border-color: green !important;
}

.children:hover rect.child,
.grandparent:hover rect {
    fill: #aaa;
}

.textdiv { /* text in the boxes */
    font-size: x-small;
    padding: 5px;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}
